################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VersioningDemo/VersioningDemo/bin/Debug/netcoreapp3.1
/VersioningDemo/VersioningDemo/obj
